    <!--HOME SECTION-->

    <header id="home-section">
      <div class="dark-overlay text-white">
        <div class="home-inner container">
          <div class="row">
            <div class="col-lg-8 d-none d-lg-block">
              <h1 class="display-4">Teach or learn <strong>today</strong> for free!</h1>
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  <h3>Our service is free, so please disable your ADBlocker to support us.</h3>
                </div>
              </div>
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  <h3>Find topics you want to learn about and contact teacher with telephone.</h3>
                </div>
              </div>
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  <h3>Advertise your profession and have a chance to earn money and teach others!</h3>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card bg-primary text-center card-form">
                <div class="card-body">
                  <h3>Sign up Today</h3>
                  <p>Please fill our form to register</p>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" placeholder="Confirm">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--EXPLORE HEAD-->
    <section id="explore-head-section" class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="display-4">Explore</h1>
            <p class="lead">If this is your first time visiting this webpage, please register with your Google account
              or Facebook account to continue using our service.</p>
            <a href="#" class="btn btn-outline-secondary">Find Out More</a>
          </div>
        </div>
      </div>
    </section>

    <!--EXPLORE SECTION-->

    <section id="explore-section" class="bg-light text-muted py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/img/teach3.jpg" alt="" class="img-fluid mb-3 rounded-circle">
          </div>
          <div class="col-md-6">
            <h3>Teach, Learn & Connect</h3>
            <p>You will have great opportunity to learn, teach and connect with other fellow students and teachers. If
              you are expanding you bussines this will help others find you.</p>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Connecting with other people will help you expand your knowledge of specific topics and help other to
                learn about same things. Do the right thing.
              </div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Are you willing to work for free? Well, just dont put price on your adverts and let other people that
                you work for free.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--CREATE HEAD-->
    <section id="create-head-section" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="display-4">Advertise</h1>
            <p class="lead">Your advertisements will be displayed on our search page. Make sure to compete with other
              teachers and lower your price so you get more students to teach</p>
            <a href="#" class="btn btn-outline-light">Find Out More</a>
          </div>
        </div>
      </div>
    </section>

    <!--CREATE SECTION-->

    <section id="create-section" class="py-5 bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-2">
            <img src="../../assets/img/teach5.jpg" alt="" class="img-fluid mb-3 rounded-circle">
          </div>
          <div class="col-md-6 order-1">
            <h3>Create Your Passion</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur tempore tempora eligendi ipsam
              maxime molestiae? Veritatis explicabo dolorem sapiente voluptatem.</p>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime tempore officia
                nam explicabo praesentium?
              </div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime tempore officia
                nam explicabo praesentium?
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--SHARE HEAD-->
    <section id="share-head-section" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="display-4">Share</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse libero, porro
              aspernatur inventore eligendi? Facilis aspernatur nam vitae libero?</p>
            <a href="#" class="btn btn-outline-secondary">Find Out More</a>
          </div>
        </div>
      </div>
    </section>

    <!--SHARE SECTION-->

    <section id="share-section" class="bg-light text-muted py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/img/teach2.jpg" alt="" class="img-fluid mb-3 rounded-circle">
          </div>
          <div class="col-md-6">
            <h3>Share What You Create</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur tempore tempora eligendi ipsam
              maxime molestiae? Veritatis explicabo dolorem sapiente voluptatem.</p>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime tempore officia
                nam explicabo praesentium?
              </div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="navbar-toggler-icon fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime tempore officia
                nam explicabo praesentium?
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark text-white" id="main-footer">
      <div class="container">
        <div class="row">
          <div class="col text-center py-4">
            <h3>Learn2Go</h3>
            <p>Copyrights &copy; <span id="year"></span></p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
          </div>
        </div>
      </div>
    </footer>

    <!--CONTACT MODAL-->

    <div class="modal fade text-dark" id="contactModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Contact Us</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>
      //get the current year for copyrights

      $('#year').text(new Date().getFullYear());

      //init ScrollSpy

      $('body').scrollspy({
        target: '#main-nav'
      });

      $('#main-nav a').on('click', function (e) {
        if (this.hash !== '') {
          e.preventDefault();

          const hash = this.hash;

          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function () {
            window.location.hash = hash;
          })
        }
      });

    </script>
